[*.cs]
csharp_style_namespace_declarations = file_scoped
csharp_style_namespace_declarations = file_scoped:suggestion

# Instance fields are camelCase and start with _
dotnet_naming_rule.instance_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.instance_fields_should_be_camel_case.symbols = instance_fields
dotnet_naming_rule.instance_fields_should_be_camel_case.style = instance_field_style

dotnet_naming_symbols.instance_fields.applicable_kinds = field

dotnet_naming_style.instance_field_style.capitalization = camel_case
dotnet_naming_style.instance_field_style.required_prefix = _

[{*Controller.cs,RootDialog.cs}]
# To avoid the VSTHRD200 warning: Use Async suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none