#
# General settings
#
ASPNETCORE_ENVIRONMENT=Development
APP_BASE_URL=http://localhost:3978/api/
MAX_DAYS_IN_CALENDAR=60
BUSINESS_NAME=World Dental CO
DENTAL_SERVICES_IMAGES_PATH=/home/DentalServices
LANGUAGE=es
PLUGINS=DentallApp.ChatBot.dll DentallApp.AppointmentReminders.dll

#
# Database settings
#
DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=123456789
DB_DATABASE=dentallapp_db
DB_CONNECTION_STRING=server=${DB_HOST};port=${DB_PORT};username=${DB_USERNAME};password=${DB_PASSWORD};database=${DB_DATABASE}
# The maximum number of retry attempts.
DB_MAX_RETRY_COUNT=10
# The maximum delay between retries.
DB_MAX_RETRY_DELAY=30 # In seconds.

#
# Access-Token settings
#
ACCESS_TOKEN_KEY=9ee19252-906e-4b70-9ce7-16563341747e
ACCESS_TOKEN_EXPIRES=30 # In minutes.
REFRESH_TOKEN_EXPIRES=7 # In days.

#
# Email Verification settings
#
EMAIL_VERIFICATION_TOKEN_KEY=b52e0db0-88dd-45ce-b079-64b9f305506c
EMAIL_VERIFICATION_TOKEN_EXPIRES=2 # In hours.
EMAIL_VERIFICATION_URL=${APP_BASE_URL}email-verification

#
# Password Reset settings
#
PASSWORD_RESET_TOKEN_EXPIRES=1 # In hours.
PASSWORD_RESET_URL=${APP_BASE_URL}password-reset

#
# SendGrid settings
#
SENDGRID_API_KEY=YOUR_API_KEY_SENDGRID # For security reasons, not show this key in the code.
SENDGRID_FROM_EMAIL=dentallapp@hotmail.com
SENDGRID_FROM_NAME=DentallApp

#
# Twilio settings
#
TWILIO_ACCOUNT_SID=YOUR_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_AUTH_TOKEN
TWILIO_FROM_NUMBER=YOUR_NUMBER # From which number to send messages.
TWILIO_REGION_CODE=EC # Value used by libphonenumber-csharp.

#
# Reminder settings
#
REMINDER_TIME_IN_ADVANCE=1 # In days.
# Indicates the schedule at which the reminder will be sent.
# The schedule must be a cron expression.
REMINDER_CRON_EXPR=0 0 8 * * ? * # At 08:00:00am every day.

#
# Bot credentials
#
MICROSOFT_APP_TYPE=
MICROSOFT_APP_ID=
MICROSOFT_APP_PASSWORD=
MICROSOFT_APP_TENANT_ID=

#
# Direct Line settings
#
DIRECT_LINE_SECRET=
DIRECT_LINE_BASE_URL=http://localhost:5000/