<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Confirmación de correo</title>
  </head>
  <body>
    <h1>Gracias por registrarte {0}</h1>
    <p>
        Hola {0}, verifique su correo electrónico dando clic al enlace, 
        para así tener acceso a nuestros servicios de: agendamiento online, consulta de citas,
        registro de dependientes y cotizaciones de los tratamientos dentales que ofrecemos.
    </p>
	<p>Para verificar la dirección haz clic en este enlace o pégalo en tu navegador:</p>
	<a href="{1}">{1}</a>
  </body>
</html>
