[Unit]
Description=DentallAppWeb Front-End service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mrdave1999
ExecStart=/bin/bash -c 'cd $HOME/front-end && npm start'

[Install]
WantedBy=multi-user.target

